In [1]:
(10, 20, 30)

(10, 20, 30)

In [2]:
a = 10, 20, 30

In [3]:
b = (10, 20 ,30)

In [4]:
type(a)

tuple

In [5]:
type(b)

tuple

In [6]:
def print_tuple(t): 
    for e in t: 
        print(e)

In [8]:
print_tuple((10, 20 ,30) ) # In this case, you must use ()

10
20
30

In [9]:
a = 'a', 10, 200

In [10]:
a[1]

10

In [11]:
type(a)

tuple

In [12]:
tuple

tuple

In [13]:
a[2:5]

(200,)

In [14]:
a = 1,2,3,4,5,6,7,8,9

In [15]:
for e in a: 
    print(e)

1
2
3
4
5
6
7
8
9

In [16]:
a= 'a', 10, 200
x,y,z = a

In [17]:
x

'a'

In [20]:
y

10

In [21]:
z

200

In [22]:
a = 1,2,3,4,5,6,7

In [24]:
x, *other, y, z = a

In [25]:
x

1

In [26]:
y

6

In [27]:
z

7

In [28]:
other

[2, 3, 4, 5]

In [29]:
# This is useful when we just want to abstrct items.

In [30]:
a[0]

1

In [31]:
a[0] = 8 # Immutable. BUt doesn't mean the items can't be changed

TypeError: 'tuple' object does not support item assignment

In [32]:
class Point2D: 
    def __init__(self, x,y): 
        self.x = x 
        self.y = y 
    
    def __repr__(self): 
        return f'{self.__class__.__name__}(x={self.x}, y = {self.y})'

In [33]:
pt = Point2D(10,20)

In [34]:
pt

Point2D(x=10, y = 20)

In [35]:
id(pt)

4400614224

In [36]:
pt.x

10

In [37]:
pt.x =100

In [39]:
pt

Point2D(x=100, y = 20)

In [40]:
id(pt)

4400614224

In [41]:
a = Point2D(0,0), Point2D(10,20)

In [42]:
a

(Point2D(x=0, y = 0), Point2D(x=10, y = 20))

In [43]:
id(a[0])

4401354064

In [44]:
a[0].x = 100

In [45]:
#We are changing something that is in the tuple.

In [52]:
s = 'python'

In [53]:
id(s)

4369725808

In [54]:
s = 'python' +'rocks!'

In [49]:
s

'pythonrocks!'

In [55]:
id(s)  # The id is different, because we created a new string.

4401395376

In [56]:
a = 1,2,3

In [57]:
id(a)

4400761664

In [58]:
a +=(4,5)

In [59]:
a  # We didn't change a, we only created a new tuple

(1, 2, 3, 4, 5)

In [60]:
a = a+(4,5)

In [61]:
pt1 = (0,0)

In [62]:
pt2 = (10,20) # Adding meanings to the tuple

In [63]:
london = 'London', 'US', 8_780_000
new_york = 'New York', 'USA', 8_850_000
beijing = 'Beijing', 'China', 21_000_000

In [64]:
london

('London', 'US', 8780000)

In [66]:
cities = [london, new_york, beijing] # Here the first tuple is  homogeneous

In [67]:
total = 0 
for city in cities: 
    total += city[2]
print(total)

38630000

In [ ]:
total = 0   # If there is a string or number, or any other data type in the cities tuple, then it will break. 
for city in cities: # List is usually homogeneous but tuple can be both.
    total += city[2]
print(total)

In [68]:
sum([city[2] for city in cities])

38630000

In [69]:
sum(city[2] for city in cities) # easier to understand

38630000

In [70]:
record = 'DJIA', 2018, 1,19, 25_286, 27_872,26_863, 26_072

In [71]:
symbol, year, month, day, open_, high, low, close = record

In [72]:
symbol

'DJIA'

In [73]:
close

26072

In [74]:
symbol, *_, close = record

In [75]:
symbol, close

('DJIA', 26072)

In [76]:
print(_)

[2018, 1, 19, 25286, 27872, 26863]

In [77]:
for city in cities: 
    print(city)

('London', 'US', 8780000)
('New York', 'USA', 8850000)
('Beijing', 'China', 21000000)

In [79]:
for city, country, population in cities: 
    print(city, country, population)

London US 8780000
New York USA 8850000
Beijing China 21000000

In [81]:
for item in enumerate(cities): 
    print(item)

(0, ('London', 'US', 8780000))
(1, ('New York', 'USA', 8850000))
(2, ('Beijing', 'China', 21000000))

In [83]:
for index, city in enumerate(cities): 
    print(index, city)

0 ('London', 'US', 8780000)
1 ('New York', 'USA', 8850000)
2 ('Beijing', 'China', 21000000)

In [90]:
from random import uniform 
from math import sqrt 

def random_shot(radius): 
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)
    
    if sqrt(random_x **2 + random_y**2) <= radius: 
        is_in_circle = True
    else: 
        is_in_circle = False 
        
    return random_x, random_y, is_in_circle

In [92]:
num_attempts = 1000000
count_inside = 0 
for i in range(num_attempts): 
    *_, is_in_circle = random_shot(1)
    if is_in_circle: 
        count_inside +=1
print(f'Pi is approximately: {4* count_inside/num_attempts}' )

Pi is approximately: 3.140672