In [1]:
l = [1,2,3,4,5,6]

In [2]:
a = l[0]
b = l[1:]
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [3]:
a, b = l[0], l[1:]  # Unpacking 
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [4]:
a, *b = l # Extended unpacking

In [5]:
a

1

In [6]:
b

[2, 3, 4, 5, 6]

In [10]:
s = {1,2,3} # Sets are not ordered and therefore can't be unpacked in slicing 
a = s[0]
b = s[1:]

TypeError: 'set' object is not subscriptable

In [11]:
s = 'python'

In [12]:
a, *b = s

In [13]:
a

'p'

In [15]:
b   # Now b is a list, whenever you use * expressions, the rest will be a list.

['y', 't', 'h', 'o', 'n']

In [16]:
t = ('a', 'b', 'c')  # * makes the rest of the tuple a list

In [17]:
a,*b = t

In [18]:
a

'a'

In [19]:
b

['b', 'c']

In [20]:
[a,b,c] = 'XYZ'

In [22]:
a

'X'

In [23]:
b

'Y'

In [24]:
c

'Z'

In [25]:
a, b, *c = 'python'

In [26]:
a

'p'

In [27]:
b

'y'

In [28]:
c

['t', 'h', 'o', 'n']

In [29]:
a,b,*c, d = 'python' # d will be n

In [30]:
a

'p'

In [31]:
b

'y'

In [32]:
d

'n'

In [33]:
c

['t', 'h', 'o']

In [36]:
s = 'python'       # Slicing gets a string back 
a,b,c,d = s[0], s[1], s[2:-1], s[-1] 
print(a)
print(b)
print(c)
print(d)

p
y
tho
n

In [37]:
s = 'python'       # Slicing gets a string back 
a,b,c,d = s[0], s[1], s[2:-1], s[-1] 
*c, = c     # TO make string into a list 
print(a)
print(b)
print(c)
print(d)

p
y
['t', 'h', 'o']
n

In [38]:
s = 'python'       # Slicing gets a string back 
a,b,c,d = s[0], s[1], s[2:-1], s[-1] 
print(a)
print(b)
print(list(c)) # To convert a string into a list 
print(d)

p
y
['t', 'h', 'o']
n

In [40]:
l1 = [1,2,3]
l2 = [4,5,6] 
l = [*l1, *l2]

In [41]:
print(l)

[1, 2, 3, 4, 5, 6]

In [43]:
l1 = [1,2,3]
s = 'abc'
[*l1, *s]  # Unpacking l1 and s

[1, 2, 3, 'a', 'b', 'c']

In [45]:
l1 = [1,2,3]
s = {'x', 'y', 'z'}  # the order is not guaranteed
[*l1, *s]

[1, 2, 3, 'x', 'y', 'z']

In [46]:
s1 = 'abc'   # Unpack into a list so repeating words can exist
s2 = 'cde'
[*s1, *s2]

['a', 'b', 'c', 'c', 'd', 'e']

In [47]:
s1 = 'abc'   # Unpack into a set so no repeating words 
s2 = 'cde'
{*s1, *s2}

{'a', 'b', 'c', 'd', 'e'}

In [48]:
s = {10, -99, 3, 'd' }

In [49]:
for c in s: 
    print(c)

d
10
3
-99

In [50]:
a, b, c, d = s

In [51]:
print(a,b,c,d)

d 10 3 -99

In [53]:
a,b, *c = s # since s is a set, there is no guaranteed match with the order

In [54]:
s

{-99, 10, 3, 'd'}

In [55]:
a

'd'

In [56]:
b

10

In [60]:
c # Whatever hasn't been unpacked

[3, -99]

In [64]:
s

{-99, 10, 3, 'd'}

In [65]:
*c, = s

In [66]:
c # a handy way to unpack something into a list

['d', 10, 3, -99]

In [63]:
list(s)  # Unpack set into list

['d', 10, 3, -99]

In [68]:
s1 = {1,2,3}
s2 = {3,4,5}

In [69]:
s1 + s2  # Sets can't be added

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [70]:
{*s1, *s2} # Unpacking the right hand side sets

{1, 2, 3, 4, 5}

In [71]:
c = {*s1, *s2}

In [72]:
c

{1, 2, 3, 4, 5}

In [73]:
help(set)  # Learning Union

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [75]:
s1.union(s2) # the third way to combine two sets

{1, 2, 3, 4, 5}

In [76]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {5,6,7}
s4 = {7,8,9}

In [78]:
s1.union(s2).union(s3).union(s4) # Union four sets

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [79]:
[*s1, *s2, *s3, *s4] # Unpacking four sets to a list and allow the same elements

[1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 7]

In [81]:
{*s1, *s2, *s3, *s4} # Unpacking four sets in to one set and therefore no repeating elements

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [82]:
d1 = {'key1': 1, 'key2': 2}  # Using ** to unpack into a Dict
d2 = {'key2': 2, 'key4': 4}

In [83]:
{*d1, *d2}

{'key1', 'key2', 'key4'}

In [84]:
{**d1, **d2}   # Since d2 unpacked last, then the second key2 overwrites the first key2 in d1

{'key1': 1, 'key2': 2, 'key4': 4}

In [85]:
{'a': 1, 'b': 2, **d1, 'c': 3}

{'a': 1, 'b': 2, 'key1': 1, 'key2': 2, 'c': 3}

In [86]:
a,b,e = [1,2,'XY']

In [87]:
a

1

In [88]:
b

2

In [89]:
e

'XY'

In [90]:
c,d = e

In [91]:
c

'X'

In [92]:
d

'Y'

In [93]:
a, b, (c,d) = [1,2,'XY']  # Nested Unpacking

In [94]:
a

1

In [95]:
b

2

In [96]:
c

'X'

In [97]:
d

'Y'

In [98]:
a, b, (c,d,*e) = [1,2,'python']

In [99]:
a

1

In [100]:
b

2

In [101]:
c

'p'

In [102]:
d

'y'

In [103]:
e

['t', 'h', 'o', 'n']

In [104]:
l = [1,2,3,4, 'python']

In [105]:
a, *b,(c,d,*e) = l
print(a,b,c,d,e)

1 [2, 3, 4] p y ['t', 'h', 'o', 'n']

In [106]:
l[0], l[1:-1], l[-1][0], l[-1][1], l[-1][2:]  # As long as it's indexable

(1, [2, 3, 4], 'p', 'y', 'thon')

In [107]:
l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])

(1, [2, 3, 4], 'p', 'y', ['t', 'h', 'o', 'n'])

In [108]:
a,b,c,d,e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:])

In [109]:
print(a,b,c,d,e)

1 [2, 3, 4] p y ['t', 'h', 'o', 'n']

In [110]:
l = (1,2,3,4, ['a', 'b', 'c', 'd'])

In [111]:
a, *b,(c,d,*e) = l
print(a,b,c,d,e)

1 [2, 3, 4] a b ['c', 'd']

In [112]:
a,b,c,d,e = l[0], l[1:-1], l[-1][0], l[-1][1], list(l[-1][2:]) 
print(a,b,c,d,e)

1 (2, 3, 4) a b ['c', 'd']

In [113]:
a,b,c,d,e = l[0], list(l[1:-1]), l[-1][0], l[-1][1], list(l[-1][2:]) # Unpacking is more elegant than slicing because 
                                                                    # it does not require indexing. 
print(a,b,c,d,e)

1 [2, 3, 4] a b ['c', 'd']