In [2]:
a = (1,2,3)

In [4]:
type(a)

tuple

In [5]:
a = 1,2,3

In [6]:
type(a)

tuple

In [7]:
a

(1, 2, 3)

In [8]:
a = (1)

In [9]:
type(a)

int

In [10]:
a = ('a')

In [11]:
type(a)

str

In [12]:
a

'a'

In [13]:
a = (1,)   # It is the comma that makes a tuple a tuple

In [14]:
type(a)

tuple

In [15]:
a = 100,

In [16]:
type(a)

tuple

In [17]:
a

(100,)

In [18]:
a = ()   # An empty tuple

In [19]:
type(a)

tuple

In [20]:
a = (,)

SyntaxError: invalid syntax (<ipython-input-20-95a348146c10>, line 1)

In [21]:
a = ,

SyntaxError: invalid syntax (<ipython-input-21-95e8fdfb9ab8>, line 1)

In [22]:
a, b, c = [1, 'a', 3.14]  # Positional Unpacking from list to tuple

In [23]:
a

1

In [24]:
b

'a'

In [25]:
c

3.14

In [26]:
(a,b,c) = [1,2,3]

In [27]:
a

1

In [28]:
b

2

In [30]:
c

3

In [31]:
a, b = (1,2)

In [32]:
a

1

In [33]:
b

2

In [34]:
a, b = 10, 20

In [35]:
a

10

In [36]:
b

20

In [37]:
a, b, c = 10, 20 ,30

In [38]:
a

10

In [39]:
b

20

In [40]:
c

30

In [46]:
a,b,c = 10, 'a', 3.14

In [47]:
a

10

In [48]:
b

'a'

In [49]:
c

3.14

In [50]:
a,b,c = 10, {1,2}, ['a', 'b']

In [43]:
a

10

In [44]:
b

{1, 2}

In [45]:
c

['a', 'b']

In [57]:
a, b = 10, 20

In [52]:
print(a, b)

10 20

In [58]:
a, b = b, a

In [53]:
c = (id(a), id(b))

In [54]:
c

(4448345024, 4448345344)

In [59]:
print(b,a)

10 20

In [60]:
print(a,b)

20 10

In [61]:
for e in 'XYZ': 
    print(e)

X
Y
Z

In [62]:
a, b, c = 'XYZ'

In [63]:
a

'X'

In [65]:
b

'Y'

In [66]:
c

'Z'

In [67]:
s = {1,2,3}

In [68]:
s[0]

TypeError: 'set' object is not subscriptable

In [69]:
s = {'p','y','t','h','o','n'}

In [70]:
print(s)

{'n', 't', 'o', 'y', 'p', 'h'}

In [71]:
for e in s: 
    print(e)

n
t
o
y
p
h

In [72]:
a,b,c,d,e,f = s

In [73]:
a

'n'

In [74]:
b

't'

In [75]:
d = {'a': 1, 'b':2, 'c':3}

In [76]:
for e in d: 
    print(e)

a
b
c

In [77]:
a,b,c = d

In [78]:
a

'a'

In [79]:
b

'b'

In [80]:
d

{'a': 1, 'b': 2, 'c': 3}

In [81]:
c

'c'

In [82]:
d

{'a': 1, 'b': 2, 'c': 3}

In [83]:
d={'a': 1, 'b': 2, 'c': 3, 'd':4}  # d Dict is overwritten by the element d Python evaluates the rightHandSide d first

In [84]:
a,b,c,d = d

In [85]:
a

'a'

In [86]:
b

'b'

In [88]:
c

'c'

In [89]:
d

'd'

In [90]:
d={'a': 1, 'b': 2, 'c': 3, 'd':4}

In [93]:
d,a,b,c = d # Here d will be the string a, not the dict, not 'd'

ValueError: not enough values to unpack (expected 4, got 1)

In [94]:
d

'a'

In [95]:
a

'b'

In [96]:
c

'd'

In [97]:
d

'a'

In [98]:
b

'c'

In [99]:
d={'a': 1, 'b': 2, 'c': 3, 'd':4}

In [100]:
for e in d:   # Iterating the key
    print(e)

a
b
c
d

In [101]:
for e in d.values(): 
    print(e)

1
2
3
4

In [102]:
a,b,c,d = d.values()  # The order of which this happens is not guaranteed

In [103]:
a

1

In [104]:
b

2

In [105]:
c

3

In [106]:
d

4

In [107]:
dict1 ={'a': 1, 'b': 2, 'c': 3, 'd':4}

In [108]:
for e in dict1.items(): # Return key and value pair tuples
    print(e)

('a', 1)
('b', 2)
('c', 3)
('d', 4)

In [109]:
for e in dict1.items():     # We unpack the tuples in the evaluations 
    a,b = e
    print('key = {0}, value={1}'.format(a,b))

key = a, value=1
key = b, value=2
key = c, value=3
key = d, value=4

In [110]:
for a,b in dict1.items():   
    print('key = {0}, value={1}'.format(a,b))

key = a, value=1
key = b, value=2
key = c, value=3
key = d, value=4