In [46]:
l = [5,8,6,10,9]

In [9]:
_max = lambda x,y : x if x >y else y

In [10]:
_max(3,4)

4

In [11]:
_max(10,2)

10

In [12]:
def max_sequence(sequence): 
    result = sequence[0] 
    for x in sequence[1:]:
        result = _max(result, x) 
    return result

In [14]:
max_sequence(l)

10

In [15]:
_min = lambda a,b: a if a<b else b

In [16]:
def min_sequence(sequence): 
    result = sequence[0] 
    for x in sequence[1:]:
        result = _min(result, x) 
    return result

In [17]:
min_sequence(l)

5

In [18]:
_add = lambda a,b: a+b

In [19]:
def add_sequence(sequence): 
    result = sequence[0] 
    for x in sequence[1:]:
        result = _add(result, x) 
    return result

In [20]:
add_sequence(l)

38

In [21]:
def _reduce(fn, sequence): 
    result = sequence[0] 
    for x in sequence[1:]:
        result = fn(result, x) 
    return result

In [22]:
_reduce(_max, l)

10

In [23]:
_reduce(_min, l)

5

In [26]:
_reduce(_add, l)

38

In [27]:
_reduce(_max, {1,3,4,5}) # SET does not support index and therefore it won't work

TypeError: 'set' object is not subscriptable

In [43]:
from functools import reduce

In [30]:
reduce(_max, l)

10

In [31]:
reduce(_add, l)

38

In [32]:
reduce(_max, {1,3,4,5}) # Python's built in reduce function can do more because it has more complex mechanics

5

In [36]:
min(l)

5

In [39]:
min({1,2,3})

1

In [47]:
max(l)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [51]:
max({1,2,3})

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [50]:
sum(l)

38

In [53]:
sum({1,2,3})

6

In [57]:
s = {True, 1, 0, None}

In [55]:
all(s)  # ADD

False

In [56]:
any(s) # OR

True

In [58]:
s2 = {True, 1, 's'}

In [59]:
all(s2)

True

In [60]:
bool(True) and bool(1) and bool('s')

True

In [61]:
bool(True) and bool(1) and bool(0) and bool(None)

False

In [62]:
any(s2)

True

In [63]:
s3 = {False, 0, '', None, ()}

In [64]:
any(s3)

False

In [65]:
reduce(lambda a, b: bool(a) and bool(b), s)  # ALL

False

In [66]:
reduce(lambda a, b: bool(a) or bool(b), s) # ANY

True

In [67]:
reduce(lambda a, b: bool(a) or bool(b), s3)

False

In [68]:
l = [5,8,6,10,9]

In [69]:
5*8*6*10*9

21600

In [70]:
reduce(lambda a,b: a*b, l)

21600

In [71]:
l = [1,2,3,4]

In [72]:
reduce(lambda a,b: a*b, l)

24

In [74]:
n! = 1*2*3....*n

SyntaxError: invalid syntax (<ipython-input-74-f27aabefedfa>, line 1)

In [75]:
range(5)

range(0, 5)

In [77]:
range(5)[0] # RANGE IS A GENERATOR

0

In [78]:
list(range(5))

[0, 1, 2, 3, 4]

In [79]:
list(range(1, 5+1))

[1, 2, 3, 4, 5]

In [81]:
reduce(lambda a, b: a*b, range(1, 5+1))

120

In [83]:
def fact(n): 
    return 1 if n < 2 else n*fact(n-1)

In [84]:
fact(5)

120

In [86]:
def fact(n):
    return reduce(lambda a, b: a*b, range(1, n+1))

In [87]:
fact(5)

120

In [88]:
fact(2)

2

In [90]:
def _reduce(fn, sequence, initial): 
    result = initial
    for x in sequence: 
        result = fn(result ,x)
    return result

In [91]:
l = [1,2,3,4]

In [93]:
_reduce(lambda a, b: a+b, l, 100)  # Putting 100 in the front

110

In [94]:
_reduce(lambda a, b: a+b, {1,2,3,4}, 0)

10

In [95]:
_reduce(lambda a, b: a+b, {1,2,3,4}, 100)

110

In [96]:
reduce(lambda a, b: a+b, {1,2,3,4}, 100)

110